.modal{
    transition: ease 0.5s;
    backdrop-filter: blur(5px) !important;
}
.card img{
    /* width: 200px !important;
    height: 200px; */
}
td{
    vertical-align: middle !important;
    padding: 2%;
    font-size: larger ;
}

.userinfo{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}