.cg-image {
    background-image: url("../../assert/package.jpg");
    width: 98.9vw;
    height: 50vh;
    background-size: cover;
}
.algine {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255) !important;
    width: 83.9vw;
    position: absolute;
    top: 62%;
    left: 8%;
    transform: translate(0%, -50%);
    padding: 1.5rem;
}

.w-100 {
    border: none;
    outline: none;
    padding: 2%;
}