.bg-image {
  background-image: url("https://assets.wego.com/image/upload/c_fill,fl_lossy,q_auto:best,f_auto,w_2560/v1597920829/web/hero_images/in_1");
  width: 98.9vw;
  height: 50vh;
  background-size: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
    background-color: blue
} */

.container {
  background-color: white;
  margin: 20px auto;
  padding: 30px 25px;
  max-width: 65vw;
}

.box {
  border: 2px solid #ddd;
  padding: 10px 20px;
}

.inputbox {
  border: none;
  outline: none;
}

.h-blue {
  color: #49bff5;
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 500;
}

::placeholder {
  font-size: 18px;
  color: #ddd;
}

.textmuted {
  color: #ddd;
}

.radio {
  display: inline-block;
  margin-left: 13px;
  cursor: pointer;
  font-weight: 500;
}

.btn.radio-btn {
  position: relative;
}

.radio input[type="radio"] {
  display: none;
}

.radio span {
  height: 20px;
  width: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
}

.radio span::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #49bff5;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span::after {
  transform: translate(-50%, -50%) scale(1);
}

.outline-none {
  outline: none;
}

.btn.btn-primary {
  height: 60px;
  font-size: 20px;
  padding: 10px;
}

@media (max-width: 820px) {
  body {
    padding: 20px;
  }
}
.d {
  display: flex !important;
  justify-content: space-between;
}
.algine {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255) !important;
  width: 83.9vw;
  position: absolute;
  top: 58%;
  left: 8%;
  transform: translate(0%, -50%);
  padding: 2rem;
}
.algine input{
  padding: 1.2rem;
}
.autosagetions {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  top: 100%;
  left: 0;
  right: 0;
  overflow-y: auto;

  height: 200px;
}
.list-items {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  list-style: none;
  /* overflow: scroll; */
  z-index: 1000000000;
}
/* .col-md-4{
    position: none !important;
}
.card{
    position: none !important;
} */

.roundede img  {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  transition: ease 0.5s;


}
.roundede img:hover {
  transform: scale(1.1);

  transition: ease 0.5s;
  box-shadow: 0 5px 33px rgb(0 0 0 / 40%);
}