.bggg-image {
    background-image: url("../../assert/main.jpg");
    width: 98.9vw;
    height: 70vh;
    background-size: cover;
}


.containerdd {
    position: relative;
    text-align: center;
    color: rgb(171, 47, 76);


}

.centeredd {
    position: absolute;
    top: 28%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.roundedee img {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    transition: ease 0.5s;
}

.roundedee img:hover {
    transform: scale(1.1);
    transition: ease 0.5s;
    box-shadow: 0 5px 33px rgb(0 0 0 / 40%);
}
.overfloww{
    overflow-x: scroll;
    transition: ease 0.5s;             
}
.overfloww::-webkit-scrollbar {
    display: none;
}
.containerr-f{
    width: 92vw;
    margin-left: 3vw;
}
.hocard{
    width: 22rem !important;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    transition: ease-out 0.5s;
    border-radius: 50px !important;

}
.hocard:hover{
    width: 22.5rem !important;
    transition: ease-out 0.5s;
    box-shadow: 0 5px 10px 10px rgb(0 0 0 / 52%);
}
.hocard img {
    padding: .5rem;
    border-radius: 50px;
}
