
.bg-imagee {
    background-image: url("https://images.unsplash.com/photo-1509749837427-ac94a2553d0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 99.9vw;
    height: 63vh;
    background-size: cover;
}

.alginne{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255) !important;
    width: 83.9vw;
    position: absolute;
    top: 68%;
    left: 8%;
    transform: translate(0%, -70%);
    padding: 1.5rem;
}

.containerdd {
    position: relative;
    text-align: center;
    color: rgb(171, 47, 76);


}

.centeredd {
    position: absolute;
    top: 28%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.roundedee img {
    border-radius: 50%;
    width: 220px;
    transition: ease 0.5s;
}

.roundedee img:hover {
    width: 225px;
    transition: ease 0.5s;
    box-shadow: 0 5px 33px rgb(0 0 0 / 40%);
}
.overfloww{
    overflow-x: scroll;
    transition: ease 0.5s;             
}
.overfloww::-webkit-scrollbar {
    display: none;
}
.containerr-f{
    width: 92vw;
    margin-left: 3vw;
}.autosagetions {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    top: 100%;
    left: 0;
    right: 0;
    overflow-y: auto;
  
    height: 200px;
  }
  .list-items {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    list-style: none;
    /* overflow: scroll; */
    z-index: 1000000000;
  }